html body {
	touch-action: none;
}

body {
	background-color: teal;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

button {
	height: 80%;
	width: 80%;
	font-size: 3rem;
}
